<nav class="navbar navbar-expand-lg justify-content-center text-uppercase py-1">
  <div class="container px-5">
    <a class="navbar-brand" routerLink="/">
      <img src="/assets/logo.png" height="50" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item px-2">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link" routerLink="/services">Why choose Us</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link" routerLink="/projects">Gallery</a>
        </li>
        <li class="nav-item pl-2 pr-5">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
        <li class="nav-item pl-5 pr-2 text-white">
          <a class="btn btn-outline-success btn-warning btn-lg me-2" href="tel: 0224992468" type="button"><i class="pi pi-phone pr-2"></i>022 499 2468</a>
        </li>
      </ul>
    </div>
  </div>
</nav>